<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'foundrykill/style.css' %}">
</head>

<body>
<!-- <body style="background-color: yellow"> -->
<div class="bg">
    <div class="header">
        <h1>Foundry Kill</h1>
    </div>
    
    <div class="board">
        <table>
            <tr>
                <th>玩家</th>
                <th>好人率</th>
                <th>狼人率</th>
                <th>狼人上警率</th>
                <th>胜率</th>
            </tr>
            {% for user in users %}
            <tr>
                <th>{{ user.userid }}</th>
                <th>{{ user.prob_good }}</th>
                <th>{{ user.prob_wolf }}</th>
                <th>{{ user.wolf_sheriff }}</th>
                <th>{{ user.prob_win }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>
</body>